.contain{
  position: relative;
  width: 40%;
  top: 100px;
  left: 800px;
}

.image {
  display: inherit;
  width: 100%;
  height: auto;
}

.mainMenu{
	width: 100%;
	height: 100%;
	background: #fff;
	position: relative;
	right: 650px;
	top: 150px;
	display: inline-block;
}

.subMenu{
	text-align: left;
	display: inline-block;
}
.subMenu ul{
	list-style: none;
	color: #fff;
} 
.subMenu ul li{
	width: 100%;
	margin: 0px;
	padding: 0px;
}  

.subMenu ul li a{
	text-decoration: none;
	color: #000;
	font-size: 25px;

} 



.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(75,0,130);
  overflow: hidden;
  width: 0;
  height: 92%;
  transition: .5s ease;
}

.contain:hover .overlay {
  width: 100%;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.foot{
	position: relative;
	top: 100px;
}


@media (max-width: 880px) {
	
	
	.contain{
		
		width: 90%;
	}
	.image{
		display: inline-block;
		position: relative;
		width: 100%;
		height: 100%;
		right: 800px;
		top:-40px;
	}
	.overlay{
			display: inherit;
			position: absolute;
			left: -800px;
			top:-30px;
	}
	.contain:hover .overlay {
		display: inline-block;
		height: 90%;
		top: -20px;
	}
	.text1{
	
		font-size: 13px;

		
			
	}
	.mainMenu{
		
		
		display: inline-block;
		position: relative;
		top: -40px;
		
	}
	.subMenu ul li a{
	
		display: inline-block;
		font-size: 15px;
		margin-left: -120px;
		
	}
	

}
