*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;

	
}
.tit{
	display: inline-block;
	position:relative;
	top: 40px;
	left: 550px;
	font-size: 60px;
	color: rgb(75,0,130);
}
.introduction{

	display: initial;
	position:relative;
	top: 200px;
	left: 20px;
	font-size: 23px;

}
.slideshow-container{
	position: absolute;
	width: 50%;
	height: 50%; 
	top: 280px;
	right: 34px;
}
.foot{
	position: relative;
	top: 400px;
}

@media (max-width: 880px) {

	.tit{
		display: inline-block;
		left: 80px;
		position: relative;
		font-size: 40px;
		margin: 41px;
		text-align: center;
	}
	
	.introduction{
		display: inline-block;
		font-size: 15px;
		top: 400px;
	}
	.slideshow-container{
		display: inline-block;
		left: 5px;
		width: 100%;
		text-align: center;
	}


}